button {
	background: #f40612;
	text-decoration: none;
	color: #fff;
	background-color: #e50914;
	line-height: normal;
	margin: 18px 3% 0;
	padding: 7px 17px;
	font-weight: 400;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 16px;
}